input.ng-touched.ng-invalid {
  border: solid red 2px;
}
input.ng-touched.ng-valid {
  border: solid green 2px;
}

.ad-form {
  width: 300px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-bottom: 10px;
}
